*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Inconsolata', monospace;
    height: 100vh;
    margin: 0;
  }

h1 {
    padding: 10px;
    color: cadetblue;
    font-size: 30px;
}

header {
    display: flex;
    justify-content: center;
    color: lightgreen;
    margin: 10px;
    font-size: 50px;
}

#score {
    display: flex;
    justify-content: center;
    color: blueviolet ;
 }

.board {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    background-color: black;
}

.board div {
    /* height: 10%;
    width: 10%; */
  }

.board h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board div.ship {
    background-image: url("../img/spaceship.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.board div.alien {
    background-image: url("../img/alien.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.missile {
    background-image: url("../img/missile.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center; 
}

.bomb {
    background-image: url("../img/bomb.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center; 
}

.explosion {
    background-image: url("../img/explosion.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-position: center; 
}

button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    background-color: blueviolet;
    color: lightgreen;
}

button:hover {
    color: blueviolet;
    background-color: lightgreen;
    cursor: pointer;
}

